body, section{
  overflow-x: hidden !important;
}
main {
  font-family: "Times New Roman", Times, serif;
}
nav {
  background-color: #fff;
  position: fixed !important;
  width: 100%;
  z-index: 10;
}
.nav-link {
  transition: all 0.5s ease-in-out !important;
}
.nav-link:hover {
  border-bottom: #000 solid 1px !important;
}
.active {
  color: black !important;
  border-bottom: #000 solid 1px !important;
}
#hero,
#Skills{
  width: 98%;
  min-height: 98vh;
}
#services {
  background-image: url("images/skills.png");
  background-size: 100% 100%; /* Image ko stretch karega */
  background-repeat: no-repeat;
  background-position: center;
}
.card {
  background-color: transparent;
}
.card i {
  color: #4472c4;
  font-size: 100px;
}
#skills ul i{
  color: #4472c4;
}
.card ul {
  list-style-type: none; /* Removes bullet points */
  padding: 0; /* Optional: removes default left padding */
  margin: 0; /* Optional: removes default margin */
}
.img-fluid{
  margin-top: 10px;
  height: 130px !important;
  width: 100% !important;
}
.dark-grey {
  background-color: #595959;
  color: #fff;
  height: 61vh;
}
.dark-brown {
  background-color: #684640;
  height: 40vh;
  color: #fff;
}
.bg-grey {
  background-color: #c5c6c8;
}
#project .fs-5 li i {
  margin-right: 10px;
  color: #007bff; /* Change to any color that matches your design */
}
.card img {
  max-width: 200px;
  height: 100px;
}
.b-left {
  border-left: #fff 5px solid;
}
.btn {
  transition: all 0.2s ease;
}
.btn:hover {
  background-color: transparent;
  border: inherit 1em solid !important;
  color: #0d6efd;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  color: white;
  z-index: 100;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
.overlay-cross{
  position: absolute;
  top: 10px;
  left: 95%;
  padding:10px;
  cursor: pointer;
}
@media (max-width: 900px) {
  #services {
    background-image: none;
  }
  .cycle-img {
    display: none;
  }
  .card img {
    max-width: 250px;
    width: fit-content;
  }
  #Skills {
    background-image: none;
  }
  .dark-brown {
    display: none;
  }
  .dark-grey {

    height: fit-content !important;
    margin: 0 !important;
  }
  .card,
  .row,
  .py-5,
  section,
  .py-3 {
    padding: 4px !important;
  }
  #Experience {
    width: 99%;
  }
  #Experience h1{
    border-radius: 0 !important;
  }
  .b-left {
    border-top: #fff 5px solid;
    border-left: none;
  }
  #education .p-3{
    padding: 0 !important;
  }
}
